<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>二手书交易平台</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-top: 70px;">
	<div id="vue_bookshop">
		<div th:replace="../templates/admin/header :: header"  ></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="../templates/admin/left :: left"  ></div>
			<div class="col-lg-8 col-lg-offset-1">
				<div class="row">
					<h4>图 书 管 理</small></h4>
					<hr><br>
				</div>
				<form class="navbar-form navbar-left" @submit.prevent="" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="书名" v-model.trim="bookName">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="作者" v-model.trim="author">
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="出版社" v-model.trim="publisher">
					</div>
					<div class="form-group">
						<select class="form-control" v-model="categoryId">
							<option value="">所有</option>
							<option v-for="(category,index) in categorys" :key="index" :value="category.id">{{category.category}}</option>
					   </select>
						<!-- <input type="text" class="form-control" placeholder="分类" v-model.trim="categoryId"> -->
					</div>
					<div class="form-group">
						<select class="form-control" v-model="state">
							<option value="">所有</option>
							<option value="1">待审核</option>
							<option value="2">在售</option>
							<option value="3">已卖出</option>
							<option value="4">退货</option>
							<option value="5">审核不通过</option>
							<option value="-1">用户删除</option>
					   </select>
					</div>
					<button type="submit" class="btn btn-default" v-on:click="search()">查 询</button>
					<button  class="btn btn-default" v-on:click="clear()">清 空</button>
				</form>
				<div class="row">
					<table class="table text-center">
						<tr>
							<td class="active" width="">图片</td>
							<td class="active" width="">书名</td>
							<td class="active" width="">作者</td>
							<td class="active" width="">价格</td>
							<td class="active" width="">品相</td>
							<td class="active" width="">分类</td>
							<td class="active" width="">出版社</td>
							<td class="active" width="">出版时间</td>
							<td class="active" width="">状态</td>
							<td class="active" width="">创建时间</td>
							<td class="active" width="">卖主</td>
							
							<td class="active">操作</td>
						</tr>
						<tr v-for="(book,index) in books" :key="index">
							<td class="">
								<img :src="getImgUrl(book.picture)" alt="" width="150px" height="150px">
							</td>
							<td class="">{{book.bookName}}</td>
							<td class="">{{book.author}}</td>
							<td class="">{{book.price}}</td>
							<td class="">{{book.conditions}}</td>
							<td class="">{{book.category.category}}</td>
							<td class="">{{book.publisher}}</td>
							<td class="">{{book.publishTime}}</td>
							<td class="" v-if="book.state==1">待审核</td>
							<td class="" v-if="book.state==2">在售</td>
							<td class="" v-if="book.state==3">已卖出</td>
							<td class="" v-if="book.state==4">退货</td>
							<td class="" v-if="book.state==5">审核不通过</td>
							<td class="" v-if="book.state==-1">删除</td>
							<td class="">{{book.createTime}}</td>
							<td class="">{{book.user.username}}</td>
							<td class="">
								<button class="btn btn-primary btn-sm" type="submit" v-on:click="updateBooks(book.id,2)" v-if="book.state==1||book.state==5">通过审核</button>
								<button class="btn btn-primary btn-sm" type="submit" v-on:click="updateBooks(book.id,5)" v-if="book.state==1||book.state==2">不通过审核</button>
								<!-- <button class="btn btn-danger btn-sm" type="submit" v-on:click="updateBooks(book.id,5)" v-if="book.state==2">下 架</button> -->
							</td>
						</tr>
					</table>
			</div>
		</div>
	</div>
	</div>
	<hr />
	<div th:replace="../templates/admin/footer :: footer"  ></div>
    </div>
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="../../js/jquery-3.3.1.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="../../js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script th:inline="javascript">
        var vm = new Vue({
            el: '#vue_bookshop',
            data() {
                return {
                    adminId: [[${ session.adminId }]],
                    books: [{user:{},category:{}}],
					bookName: "",
					author: "",
					publisher: "",
					categoryId: "",
					state: "",
					categorys:{}               
					}
            },
            methods: {
                isLogin: function () {
                    if (this.adminId == null || this.adminId == "") {
                        // alert("未登录!");
                        window.location.href = "login";
                    }else {
						this.getBooks();
						this.getCategorys();
                    }
                },
                getBooks: function(){
                    axios.get('/book/list').then(response => (this.books = response.data.data));
                },
				getCategorys: function () {
					var _this = this;
					axios.get('/category/list').then(response => (_this.categorys = response.data.data));
				},
				updateBooks: function(bookId,state){
					if(state==-1){
						var result = confirm("确定下架图书？");
						if(!result){
							return false;
						}
					}
					var _this = this;
                	axios.post('/book/'+bookId+'/'+state)
						.then(function (response) {
							if(response.data.flag){
								// _this.getBooks();
								_this.search();
							}else{
								console.log(response.data.message);
								alert(response.data.message);
							}
							});
						},
					getImgUrl: function(pic){
                		return "../"+pic;
           			 },
					search: function(){
						var _this = this;
						axios.get('/book/search/',{
							params: {
								bookName: _this.bookName,
								author: _this.author,
								publisher: _this.publisher,
								categoryId: _this.categoryId,
								state: _this.state
							}
						})
						.then(function (response) {
							if(response.data.flag){
								_this.books = response.data.data;
							}else{
								console.log(response.data.message);
								alert(response.data.message);
							}
							});
					},
					clear: function(){
						this.bookName = "",
						this.author = "",
						this.publisher = "",
						this.categoryId = "",
						this.state = ""
					}
            },
		
            created() {
                this.isLogin();
            }
        })
    </script>
</body>

</html>