<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>二手书交易平台</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-top: 70px;">
	<div id="vue_bookshop">
		<div th:replace="../templates/admin/header :: header"></div>
		<div class="container-fluid">
			<div class="row">
				<div th:replace="../templates/admin/left :: left"></div>
				<div class="col-lg-8 col-lg-offset-1">
					<div class="row">
						<h4>图 书 分 类 管 理</small></h4>
						<hr><br>
					</div>
					<form class="navbar-form navbar-right" @submit.prevent="" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="分类名称" v-model.trim="category">
						</div>
						<button type="" class="btn btn-default" v-on:click="addCategory()">新 增</button>
						<button type="" class="btn btn-default" v-on:click="searchCategory()">查 询</button>
						<button type="" class="btn btn-default" v-on:click="generateCount()">检测图书数量</button>
					</form>
					<div class="row">
						<table class="table">
							<tr>
								<td class="active" width="30%">分类名称</td>
								<td class="active" width="30%">在售图书数量</td>
								<td class="active">操作</td>
							</tr>
							<template v-for="(category,index) in categorys" :key="index">
								<tr>
									<td>
										<div class="col-lg-5">
											<input type="text" class="form-control" v-model.trim="category.category" width="100px">
										</div>
									</td>
									<td class="">{{category.totalCount}}</td>
									<td class="">
										<button class="btn btn-primary btn-sm" type="submit"
											v-on:click="editCategory(category.id,category.category)">修 改</button>
										<button class="btn btn-danger btn-sm" type="submit"
											v-on:click="deleteCategory(category.id)" v-if="category.totalCount==0">删
											除</button>
									</td>
								</tr>
							</template>
						</table>
					</div>
				</div>
			</div>
		</div>
		<hr />
		<div th:replace="../templates/admin/footer :: footer"></div>
	</div>
	<script src="../../js/jquery-3.3.1.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script th:inline="javascript">
		var vm = new Vue({
			el: '#vue_bookshop',
			data() {
				return {
					userid: [[${ session.userid }]],
					category: "",
					categorys: [],
					bookids: []
				}
			},
			methods: {
				isLogin: function () {
					if (this.userid == null || this.userid == "") {
						// alert("未登录!");
						// window.location.href = "login";
					} else {
						this.getCategorys();
					}
				},
				getCategorys: function () {
					var _this = this;
					axios.get('/category/list').then(response => (_this.categorys = response.data.data));
				},
				addCategory: function () {
					var category = this.category;
					var _this = this;
					if (category == "") {
						return false;
					}
					axios.post('/category/add/' + category)
						.then(function (response) {
							if (response.data.flag) {
								_this.getCategorys();
								_this.category = ""
							} else {
								console.log(response.data.message);
								alert(response.data.message);
							}
						});
				},
				deleteCategory: function (categoryId) {
					var _this = this;
					var result = confirm("确认删除？");
					if (result) {
						axios.post('/category/delete/' + categoryId)
							.then(function (response) {
								if (response.data.flag) {
									_this.getCategorys();
									_this.category = ""
								} else {
									alert(response.data.message);
								}
							});
					}
				},
				searchCategory: function () {
					var category = this.category;
					if (category == "") {
						this.getCategorys();
						return false;
					}
					axios.get('/category/search/'+category).then(response => (this.categorys = response.data.data));
				},
				generateCount: function(){
					var _this = this;
					axios.get('/category/generateCount/')
							.then(function (response) {
								if (response.data.flag) {
									alert(response.data.data);
									_this.getCategorys();
									_this.category = ""
								} else {
									alert(response.data.message);
								}
							});
				},
				editCategory: function(categoryId,category){
					var result = confirm("该分类下的所有图书将自动移到修改后的分类，是否继续？");
					if(result){
						var _this = this;
						axios.post('/category/update/'+categoryId+"/"+category)
								.then(function (response) {
									if (response.data.flag) {
										alert("修改成功");
										_this.getCategorys();
										_this.category = ""
									} else {
										alert(response.data.message);
										_this.getCategorys();
										_this.category = ""
									}
								});
					}
					
				},
			},
			created() {
				this.isLogin();
				this.getCategorys();
			}
		})
	</script>
</body>

</html>