<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>二手书交易平台</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
<!--	<link href="../../css/sb-admin-2.css" rel="stylesheet">-->
	<link href="../../css/default.css" rel="stylesheet">
</head>

<body>
	<div id="vue_bookshop">
		<div th:replace="../templates/admin/header :: header"  ></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="../templates/admin/left :: left"  ></div>
			<div class="col-lg-8 col-lg-offset-1">
				<div class="row">
					<h4>编 辑 通 知</small></h4>
					<hr><br>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<input type="text" class="form-control" id="title" placeholder="标题" value=""/><br/><br/>
						<form>
							<textarea name="content" style="width: 100%; height: 400px; visibility: hidden;" placeholder="通知内容"></textarea>
						</form>
					</div>
					<div class="col-lg-2">
						<br/><br/><br/><br/><br/>
						<div><input type="button" class="btn btn-success" name="sendnotice" value="发布公告" /></div>
						<br/>
						<div><input type="button" class="btn btn-warning" name="savenotice" value="暂存公告" /></div>
						<br/>
						<div><input type="button" class="btn btn-danger" name="clear" value="清空内容" /></div>
						<br/><br/><br/><br/>
						<div><input type="button" class="btn btn-default" name="mynotice" value="我的草稿" /></div>
						<!-- <div>注：只以读取最近一次保存的草稿！</div> -->
					</div>
				</div>
		</div>
	</div>
	</div>
	<hr />
	<div th:replace="../templates/admin/footer :: footer"  ></div>
    </div>
	<script src="../../js/jquery-3.3.1.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/kindeditor-min.js"></script>
	<script src="../../js/zh_CN.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script th:inline="javascript">
			var editor;
			KindEditor.ready(function(K) {
				var title = $('#title').val();
				
				editor = K.create('textarea[name="content"]', {
					allowFileManager : true
				});
				K('input[name=sendnotice]').click(function(e) {
					sendnotice();
				});
				K('input[name=savenotice]').click(function(e) {
					savenotice();
				});
				K('input[name=clear]').click(function(e) {
					$('#title').val('');
					editor.html('');
				});
				K('input[name=mynotice]').click(function(e) {
					readnotice();
				});
		
			});
				function sendnotice(){
						var id = $('#id').val();
						var title = $('#title').val();
						var content = editor.html();
						if(title.trim()==""||content.trim()==""){
							alert("标题或内容不能为空！");
						}else{
							$.post("saveNotice",{"id":id,"title":title,"content":content,"state":1},function(response){
								alert(response);
							});
						}
				};

				 function savenotice(){
					var title = $('#title').val();
					var content = editor.html();
					if(title.trim()==""&&content.trim()==""){
						alert("标题和内容不能同时为空！");
					}else{
						$.post("saveNotice",{"title":title,"content":content,"state":2},function(response){
							alert(response);
					      });	
					}
					
				};
				
				function readnotice(){
					$.ajax({ url: "myNotice",success: function(response){
						if(!response){
							alert("草稿箱暂无内容！");
						}
						$('#title').val(response.title);
						editor.html(response.content);
				      }});
				};
				
				function readnotice(){
					$.ajax({ url: "myNotice",success: function(response){
						if(!response){
							alert("草稿箱暂无内容！");
						}
						$('#title').val(response.title);
						editor.html(response.content);
				      }});
				};

        var vm = new Vue({
            el: '#vue_bookshop',
            data() {
                return {
                    userid: [[${ session.userid }]],
                }
            },
            methods: {
                isLogin: function () {
                    if (this.userid == null || this.userid == "") {
                        // alert("未登录!");
                    }
                }
            },
            created() {
                this.isLogin();
            }
        })
    </script>
</body>

</html>