<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
     <div th:fragment="footer">    
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p style="text-align:center;color:#ADADAD;margin-top:10px;">
                    运维支持：佛大15级计算机科学与技术1 卢伟彬
                </p >
            </div>
          </nav>
    </div>
</html>
