<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
     <div th:fragment="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/admin/welcome">二手书交易平台后台管理</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.adminName}!=null"><a href="#" th:text="|欢迎，${session.adminName}|"></a></li>
                        <li th:if="${session.adminName}!=null"><a href="/admin/logout">退出</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</html>
