<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- th:fragment 定义需要引入的代码块，该div包含的内容即为引用的公共内容 -->
     <div th:fragment="left">
        <div class="col-lg-2 text-center">
            <div class="list-group">
                <a href="/admin/category" class="list-group-item" >分类管理 </a><br>
                <a href="/admin/book" class="list-group-item" >图书管理</a><br>
                <a href="/admin/user" class="list-group-item" >用户管理</a><br>
                <a href="/admin/notice" class="list-group-item">所有通知</a>
                <a href="/admin/editNotice" class="list-group-item">编辑通知</a>
            </div>
        </div>
    </div>
</html>
