<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>二手书交易平台</title>
	<link href="../../css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-top: 70px;">
	<div id="vue_bookshop">
		<div th:replace="../templates/admin/header :: header"  ></div>
	<div class="container-fluid">
		<div class="row">
			<div th:replace="../templates/admin/left :: left"  ></div>
			<div class="col-lg-8 col-lg-offset-1">
				<div class="row">
					<h4>所 有 通 知</small></h4>
					<hr><br>
				</div>
				<form class="navbar-form navbar-right" role="search" @submit.prevent="">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="标题、内容" v-model.trim="key">
					</div>
					<div class="form-group">
						<select class="form-control" v-model="state">
							<option value="">所有</option>
							<option value="1">已发布</option>
							<option value="2">草稿</option>
					   </select>
					</div>
					<button type="submit" class="btn btn-default" v-on:click="search()">查 询</button>
					<button  class="btn btn-default" v-on:click="clear()">清 空</button>
				</form>
				<div class="row">
					<table class="table">
						<tr>
							<td class="active" width="20%">标 题</td>
							<td class="active" width="45%">内 容</td>
							<td class="active" width="15%">时 间</td>
							<td class="active" width="10%">状 态</td>
							<td class="active" width="10%">操作</td>
						</tr>
						 <template v-for="(notice,index) in notices" :key="index">
							<tr >
								<td class="">{{notice.title}}</td>
								<td class="" v-if="notice.content.length>100">{{notice.content.substring(0,100)+'...'}}</td>
								<td class="" v-if="notice.content.length<100">{{notice.content}}</td>
								<td class="">{{notice.time}}</td>
								<td class="" v-if="notice.state==1">已发布</td>
								<td class="" v-if="notice.state==2">草稿</td>
								<td class="" v-if="notice.state==3">删除</td>

								<td class="">
									<a v-bind:href="'/admin/editNotice/'+notice.id" class="btn btn-primary btn-sm" role="button">编 辑</a>
									<button class="btn btn-danger btn-sm" type="submit" v-on:click="deleteNotice(notice.id)">删 除</button>
								</td>
							</tr>
						 </template>
					</table>
			</div>
		</div>
	</div>
	</div>
	<hr />
	<div th:replace="../templates/admin/footer :: footer"  ></div>
    </div>
	<script src="../../js/jquery-3.3.1.min.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script th:inline="javascript">
        var vm = new Vue({
            el: '#vue_bookshop',
            data() {
                return {
                    adminId: [[${ session.adminId }]],
                    notices: [],
					key: "",
					state: ""
                }
            },
            methods: {
                isLogin: function () {
                    if (this.adminId == null || this.adminId == "") {
                        // alert("未登录!");
                        window.location.href = "login";
                    }else {
                        this.getNotices();
                    }
                },
                getNotices: function(){
                    axios.get('/notice/list').then(response => (this.notices = response.data.data));
                },
				search: function(){
				var _this = this;
				axios.get('/notice/search/',{
					params: {
						key: _this.key,
						state: _this.state
					}
				}).then(function (response) {
					if(response.data.flag){
						_this.notices = response.data.data;
					}else{
						console.log(response.data.message);
						alert(response.data.message);
					}
					});
				},
				clear: function(){
					this.key = "",
					this.state = ""
				},
				deleteNotice: function(noticeId){
					var result = confirm("确定删除？");
					if(result){
						axios.post('/notice/delete/'+noticeId).then(response => (this.getNotices()));
					}
				}
				},
            created() {
                this.isLogin();
            }
        })
    </script>
</body>

</html>