server:
  port: 8080
#  servlet:
#    context-path: /thymeleaf

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_bookshop?characterEncoding=utf-8
    username: root
    password: root
  jpa:
    show-sql: true
    generate-ddl: true
    database: mysql
  thymeleaf:
    mode: HTML5
    encoding: utf-8
    servlet:
      content-type: text/html
    cache: false
  #设置时区，否则Timestamp反序列化时时间不正确
  jackson:
    time-zone: GMT+8

  servlet:
    multipart:
      max-file-size: 10Mb
      max-request-size: 10Mb

imagePath: D:\Git_project\bookshop\src\main\resources\static\img\book

