<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>二手书交易平台</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="padding-top: 70px;">
<div id="vue_bookshop">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">二手书交易平台</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index">首页 <span class="sr-only"></span></a></li>
                    <li><a href="cart">购物车</a></li>
                    <li><a href="order">我的订单</a></li>
                    <li><a href="myinfo">个人中心</a></li>
                    <li><a href="notice">网站通知</a></li>
                </ul>
                <form class="navbar-form navbar-left" @submit.prevent="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="书名 作者 出版社等" v-model.trim="key">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.username}==null"><a href="register">注册</a></li>
                    <li th:if="${session.username}==null"><a href="login">登录</a></li>
                    <li th:if="${session.username}!=null"><a href="#" th:text="|欢迎，${session.username}|"></a></li>
                    <li th:if="${session.username}!=null"><a href="logout">退出</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="list-group">
                    <hr>
					<a href="javascript:void(0);" class="list-group-item" v-bind:class="{ active: flag==-1}" v-on:click="getBooks(-1);flag=-1">
                        所有书籍
                        <span class="badge">{{bookTatal}}</span>
					</a>
                    <div v-for="(category,index) in categorys" :key="index">
                        <a href="javascript:void(0);" class="list-group-item" v-bind:class="{ active: flag==category.id}" v-on:click="getBooks(category.id);flag=category.id">{{category.category }}
                            <span class="badge">{{category.totalCount}}</span>
                        </a>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-10">
                <div class="row" >
                    <div class="col-lg-3" v-for="(book,index) in books" :key="index">
                        <div class="thumbnail">
                            <img :src="book.picture" alt=" " width="150px" height="150px">
                            <div class="caption">
                                <h4 class="text-center">{{book.bookName}}</h4>
                                <p class="text-center">—— {{book.author}}</p>
                                <p class="text-center">分类: {{book.category.category}}</p>
                                <p class="text-center" style="font-size:18px;color: #bf7f5f;">￥{{book.price}}</p>
                                <p class="text-center"><a v-bind:href="'detail/'+book.id" class="btn btn-primary btn-sm"
                                                          role="button">详情</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm" role="button" v-on:click="addCart(book.id)">+购物车</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div th:replace="admin/footer :: footer"></div>

</div>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script th:inline="javascript">
    var vm = new Vue({
        el: '#vue_bookshop',
        data() {
            return {
                flag: -1,
                userId: [[${ session.userId }]],
                username: [[${ session.username }]],
                categorys: [{}],
                books: [{category:{}}],
                result: {},
                bookTatal: "",
                file: '',
                key: ''
            }
        },
        methods: {
            isLogin: function () {
                    if (this.userId == null || this.userId == "") {
                        alert("未登录！");
                        // window.location.href = "login";
                    } else {
                        $('#myModal').modal();
                    }
                },
            getCategorys: function () {
				axios.get('/category/list').then(response => (this.categorys = response.data.data));
            },
            getBooks: function(categoryId){
                var _this = this;
                axios.get('/book/category/'+categoryId)
				.then(function(response){
                    if(categoryId==-1){
                        _this.bookTatal = response.data.data.length
                    }
                    _this.books = response.data.data
                    });
            },
            addCart: function(bookId){
                axios.post('cart/book/'+bookId)
                .then(function (response) {
                    if(response.data.flag){
                        this.result = response.data.data;
                        alert("加入成功！");
                    }else{
                        console.log(response.data.message);
                        alert(response.data.message);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
            },      
            search: function () {
                if(this.key==""){
                    return false;
                }
                axios.get('/book/search/'+this.key).then(response => (
                    this.books = response.data.data,
                        this.flag = ""
                ));
            },
            getTotalCount: function(){
                var _this = this;
                axios.get('/book/category/-1')
				.then(function(response){
                    _this.bookTatal = response.data.data.length
                    });
            }
        },
        created() {
            this.getCategorys();
            this.getBooks(-1);
            this.getTotalCount();
        }
    })
</script>
</body>

</html>