<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>二手书交易平台</title>
	<!-- Bootstrap -->
	<link href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div id="vue_bookshop">
	<nav class="navbar navbar-default">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">二手书交易平台</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="index">首页 <span class="sr-only">(current)</span></a></li>
					<li><a href="cart">购物车</a></li>
					<li><a href="order">我的订单</a></li>
					<li class="active"><a href="myinfo">个人中心</a></li>
					<li><a href="notice">网站通知</a></li>
				</ul>
				
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${session.username}==null"><a href="register">注册</a></li>
					<li th:if="${session.username}==null"><a href="login">登录</a></li>
					<li th:if="${session.username}!=null"><a href="#" th:text="|欢迎，${session.username}|"></a></li>
					<li th:if="${session.username}!=null"><a href="logout">退出</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-2 text-center">
				<div class="list-group">
					<a href="myinfo" class="list-group-item ">个 人 资 料</a><br>
					<a href="account" class="list-group-item">账 户 安 全</a><br>
					<a href="myaddress" class="list-group-item active">我 的 地 址</a><br>
					<a href="favorite" class="list-group-item">我 的 收 藏</a><br>
					<a href="mybook" class="list-group-item">我 的 图 书</a><br>
				</div>
			</div>
			<div class="col-lg-8 col-lg-offset-1">
				<div class="row">
					<h4>我 的 地 址</small></h4>
					<hr><br><br>
					<div class="col-lg-8 col-lg-offset-0">
						<form class="form-horizontal" @submit.prevent="addAddress">
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">省 份</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="" placeholder="" v-model="addr.province">
								</div>
							</div>
							<div class="form-group">
								<label for="inputPassword3" class="col-sm-2 control-label">市</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="" placeholder="" v-model="addr.city">
								</div>
							</div>
							<div class="form-group">
								<label for="inputEmail3" class="col-sm-2 control-label">详细地址</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" id="" placeholder="" v-model="addr.location">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-8 col-sm-10">
									<button type="submit" class="btn btn-info">保 存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<hr>
					<table class="table">
						<tr>
							<td class="active" width="50%">地 址</td>
							<td class="active">默 认</td>
							<td class="active">操 作</td>
						</tr>
						<tr v-for="(address,index) in addresses" :key="index">
							<td class="" width="50%">{{address.address}}</td>
							<td class="" v-if="address.state==2">是</td>
							<td class="" v-if="address.state==1">否</td>
							<td class="">
								<a class="" href="javascript:void(0);" type="" v-if="address.state==1" v-on:click="updateAddressState(address.id,2)">设为默认 </a>&nbsp;
								<a class="" href="javascript:void(0);" type="" v-on:click="updateAddressState(address.id,-1)"> 删除</a>
							</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<p style="text-align: center;color: #ADADAD;">
		运维支持：佛大15级计算机科学与技术1 卢伟彬<br>
	</p>
	</div>
	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="../js/jquery-3.3.1.min.js"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="../js/bootstrap.min.js"></script>
	<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
	<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
	<script th:inline="javascript">
        var vm = new Vue({
            el: '#vue_bookshop',
            data() {
                return {
                    userId: [[${ session.userId }]],
					addresses: {},
					addr: {province:"", city:"", location:""}
                }
            },
            methods: {
                isLogin: function () {
                    if (this.userId == null || this.userId == "") {
                        alert("未登录");
                        window.location.href = "login";
                    }else {
                         this.getAddresses();
                    }
                },
				getAddresses: function(){
                    axios.get('/address/').then(response => (this.addresses = response.data.data));
                },
				addAddress: function(){
					var province = this.addr.province;
					var city = this.addr.city;
					var location = this.addr.location;
					var address;
					var _this = this;
					if(province.trim==""||city.trim==""||location.trim==""){
						return false;
					}else{
						address = province+city+location;
						axios.post('address/add/'+address)
						.then(function (response) {
							if(response.data.flag){
								_this.getAddresses();
							}else{
								console.log(response.data.message);
								alert(response.data.message);
							}
						})
						.catch(function (error) {
							console.log(error);
						});
					}
					
				},
				updateAddressState: function(id,state){
					var _this = this;
					axios.post('address/state/'+id+'/'+state)
						.then(function (response) {
							if(response.data.flag){
								_this.getAddresses();
							}else{
								console.log(response.data.message);
								alert(response.data.message);
							}
						})
						.catch(function (error) {
							console.log(error);
						});
				}

            },
            created() {
                this.isLogin();
            }
        })
    </script>
</body>

</html>